@use '../abstracts/' as *;

.admin-aside {
    display: none;
    background-color: rgb(72, 105, 105);

    @include mq(large) {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column;
    }
    

}

.admin-wrapper {

    min-height: 100vh;
    
    @include mq(large) {
        display: grid;
        grid-template-columns: 1fr 3fr;

    }
}