@use "../abstracts/" as *;

.aside {
    flex: 1;
    // margin-left: $size-2;
    max-width: 15rem;
    background-color: $clr-grey;
    color: white;

    &__select-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-inline: 12px;
        align-items: center;
    }
}

.aside__select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    width: 100%;
    border: none;
    outline: 1px solid $clr-primary;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin-block: 1rem;
    // margin-left: 12px;
    cursor: pointer;
    line-height: $size-5;
    background-color: white;
    // border-bottom: 1px solid $clr-primary;
    // background-image: linear-gradient(to top, $clr-primary, #ffffff 37%); 

    &::after {
        grid-area: select;
        justify-self: end;
        content: "";
        width: 0.8em;
        height: 0.5em;
        background-color: var(--clr-primary);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
}

select {
    grid-area: select;
    justify-self: end;  
}

.hidden {
    display: none;
}
