@use "../abstracts/" as *;

.cart-wrapper {
    display: flex;
    flex-direction: column;
    gap: $size-2;
    max-width: 900px;
    margin: 0 auto;
    background-image: linear-gradient(to left top, #a76f6f, #573245, #1c1721, #243046, #435b66);
    min-height: calc(100vh - $header-height);
    padding: 2rem 6rem;

    // @media screen and (min-width: 40rem) {
    //     max-width: 100%;
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    //     gap: var(--size-8);
    // }

    @media screen and (min-width: 55rem) {
        max-width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--size-8);
    }

    .padding-helper {
        padding: 0.5rem;
    }

    .cart-order-wrapper {
        font-size: 1.1rem;
        margin-top: var(--size-4);
        text-align: right;
        background-color: rgb(219, 219, 219);
        padding: var(--size-2);

        .cart-order-sum {
            margin-bottom: var(--size-2);
            div {
                margin-bottom: var(--size-2);
                display: flex;
                justify-content: space-between;
            }
        }

        button {
            width: 100%;
            font-weight: bold;
            padding: var(--size-3) 0;
            letter-spacing: 0.1rem;

            &:hover {
                background-color: var(--clr-second-light);
                color: var(--clr-primary);
            }
        }
    }

}
