@use '../abstracts/' as *;

.orders-page {

    min-height: calc(100vh - $header-height);

    @include mq(medium) {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap: $size-6;
    }
}

.orders-wrapper {
    // max-width: 600px;
    @include mq(medium) {
        margin: 0 auto;
    }

    &--user {
        max-width: 800px;

        @include mq(medium) {
            max-width: 900px;
        }
        margin-top: $size-3;
    }
}

.order {
    margin-inline: $size-6;
    // margin-top: 2em;
    // box-shadow: 1px 1px 20px black;
    border-radius: 10px;
    border-top: 2px solid $clr-second;

    @include mq(medium) {
        margin-left: 0;
        margin-bottom: $size-6;    
        max-width: 900px;
    }

    h2 {
        margin-top: $size-8; 
    }

    &__back-link {
        color: $clr-second;
        display: inline-block;
        margin: $size-3 0;

        svg {
            vertical-align: text-bottom;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between; 
        margin: $size-3 0;  

        div p:nth-child(1) {
            font-weight: bold;
            margin-bottom: $size-1;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;  
        gap: $size-3;
        margin: $size-3 0;  
 
    }

    &__product {
        display: flex;

        &__details {
            display: flex;
            flex-direction: column;
    
            table {
                table-layout: auto;
                width: 100%;
                margin: auto 0 0;

                tr td:nth-child(1) {
                    color: $clr-lightgrey-500;
                }
            }
        }
    
        &__img {
            max-width: 131px;
            margin-right: $size-2;
        }
    
        img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }
}
