$clr-primary: rgb(46, 68, 87);
$clr-primary-light: rgb(67, 91, 102);
$clr-second: rgb(167, 111, 111);
$clr-second-light: rgb(234, 178, 160);
$clr-red: rgba(117, 25, 15, 0.662);
$clr-light-red: rgb(163, 53, 36);
$clr-green: rgba(37, 173, 94, 0.662);
$clr-grey: rgb(69, 69, 72);
$clr-lightgrey-500: rgb(119, 119, 119);
$clr-lightgrey-400: rgba(119, 119, 119, 0.592);
$clr-lightgrey-200: rgba(119, 119, 119, 0.234);
$clr-white: rgb(255, 255, 255);
$clr-black: rgba(0, 0, 0, 0);
$clr-error: rgb(114, 8, 8);
$clr-admin-primary: rgb(103, 93, 80);
$clr-admin-second: rgb(169, 144, 126);
$clr-admin-light: rgb(243, 222, 186);
$clr-admin-light-blue: rgb(171, 196, 170);
$clr-admin-gold: #BA9741;


$colors: (
    "primary": rgb(46, 68, 87),
    "primary-light": rgb(67, 91, 102),
    "second": rgb(167, 111, 111),
    "second-light": rgb(234, 178, 160),
    "red": rgb(114, 8, 8),
    "light-red": rgb(163, 53, 36),
    "green": rgba(37, 173, 94, 0.662),
    "grey": rgb(69, 69, 72),
    "lightgrey-500": rgb(119, 119, 119),
    "lightgrey-400": rgba(119, 119, 119, 0.592),
    "lightgrey-200": rgba(119, 119, 119, 0.234),
    "white": #f8f8f8,
    "black": #0000,
    "admin-primary":rgb(103, 93, 80),
    "admin-second": rgb(169, 144, 126),
    "admin-light-blue": rgb(171, 196, 170),
    "admin-light": rgb(243, 222, 186),
    "admin-gold": rgb(98, 80, 34)
)
