@use "../abstracts/" as *;

.no-cart {
    height: 100vh;
    background-image: radial-gradient(ellipse at top, #844a4a, #391d2b, #1c1721, #243046, #435b66, transparent),
                    radial-gradient(ellipse at bottom, #a76f6f, #573245, #1c1721, #243046, #435b66, transparent);
    &-text {
        letter-spacing: 0.12em;
        color: white;
    }
}

