.mobile-header {

    nav {
        display: flex;
        justify-content: space-between;  

        .mobile-menu-wrapper {
            position: relative;
        }
        
        .mobile-menu-container {            
            background-color: white;
            min-height: 90vh;
            min-width: 10em;
            position: absolute;
            z-index: 2;
            right: 0;

            & > a {
                display: block;
            }
        }
    }
}