@use "../abstracts/" as *;

.searchbar {
    width: 100%;
    margin-bottom: var(--size-4);

    @include mq(medium) {
        width: 50%;
    }

    svg {
        vertical-align: text-bottom;
    }

    fieldset {

        padding: var(--size-2) var(--size-2);
        margin-bottom: var(--size-4);

        &:has(> input:focus) {
            outline: 3px solid black;
        }

        input {
            border: none;
            width: 90%;
            padding: var(--size-1);

            &:focus {
                outline: none;
            }
        }
    }
}