@use '../abstracts/' as *;

.orders__card {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: 
        "status date icon"
        "productsAmount total icon"
    ;
    margin-bottom: 0.5em;
    background-color: $clr-lightgrey-200;
    cursor: pointer;

    &--status {
        grid-area: status;
    }

    &--product-number {
        grid-area: productsAmount;
    }

    &--date {
        grid-area: date;
    }

    &--total {
        grid-area: total;
    }

    &--icon {
        grid-area: icon;
        align-self: center;
        justify-self: end;
    }

    & > * {
        padding: $size-3 $size-2;
    }
}

