.aside {
    flex: 1;
    /* background-color: rgb(246, 209, 134); */
}

.aside-select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: var(--clr-grey);
    /* background-image: linear-gradient(to top, #a88282, #fff 33%); */
}

select,
.aside-select:after {
  grid-area: select;
  justify-self: end;
}

.aside-select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

/* .aside:focus-within .aside-select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */