*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: var(--ff-second);
  font-size: 18px;
}

:root {
  --clr-primary: rgb(20, 63, 63);
  --clr-btn-red: rgba(217, 85, 32, 0.662);
  --clr-btn-green: rgba(37, 173, 94, 0.662);
  --clr-btn-pagination: rgba(133, 77, 18, 0.737);
  --clr-grey: rgb(69, 69, 72);
  --clr-lightgrey: #777;

  --select-border: #777;
  --select-focus: rgb(69, 69, 72);
  --select-bg: #777;
  --select-arrow: var(--select-border);

  --ff-product-primary: 'Josefin Sans', sans-serif;
  --ff-second: 'Playfair', serif;
}

.product-font-primary {
  font-family: var(--ff-product-primary);
  font-weight: 400;
  color: var(--clr-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
