*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans";
  font-size: var(--fs-400);
  color: rgb(20, 63, 63);
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: rgb(20, 63, 63);
  --clr-red: rgba(217, 85, 32, 0.662);
  --clr-green: rgba(37, 173, 94, 0.662);
  --clr-grey: rgb(69, 69, 72);
  --clr-lightgrey: #777;
  --clr-white: #f8f8f8;
  --clr-black: rgba(0, 0, 0, 0);
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.5rem;
  --size-10: 3rem;
  --size-11: 4rem;
  --size-12: 5rem;
  --size-13: 6rem;
  --size-14: 8rem;
  --size-15: 10rem;
  --fs-900: 3.3rem;
  --fs-800: 2.25rem;
  --fs-700: 1.5rem;
  --fs-600: 1.125rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.925rem;
  --fs-200: 0.875rem;
}
@media screen and (min-width: 65em) {
  :root {
    --fs-900: 3.75rem;
    --fs-800: 3rem;
    --fs-700: 1.75rem;
    --fs-600: 1.3125rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.925rem;
    --fs-200: 0.875rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* flex: 1 1 30%; */
}
.card .card__image {
  /* height: 20rem; */
  position: relative;
}
.card .card__image img {
  max-height: 100%;
}
.card h3 {
  font-weight: bold;
}
.card h3, .card p {
  margin: 0.5rem 0;
}

.heading-1 {
  font-size: var(--fs-900);
  color: rgb(69, 69, 72);
}

.heading-2 {
  font-size: var(--fs-800);
  color: rgb(69, 69, 72);
}

.heading-3 {
  font-size: var(--fs-700);
  color: rgb(69, 69, 72);
}

.login-regist {
  height: 92vh;
  background-image: url("../img/form-background.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 3em;
}

.form-container {
  padding: 2em;
  width: 80%;
  /* height: 100%; */
  margin: 0 auto;
  background: rgba(81, 80, 80, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(255, 255, 255, 0.48);
}
@media screen and (min-width: 65em) {
  .form-container {
    width: 40%;
    position: absolute;
    right: 8em;
  }
}
.form-container section {
  padding: 5em 15em;
  height: 90vh;
  background: rgb(244, 215, 154);
  background: linear-gradient(56deg, rgb(244, 215, 154) 3%, rgb(210, 160, 154) 32%, rgb(83, 155, 157) 77%, rgb(154, 238, 255) 100%);
}
.form-container h3 {
  color: white;
  text-align: center;
}
.form-container p {
  color: rgb(194, 186, 186);
  text-align: right;
  margin-top: 16px;
}
.form-container p .regist-link {
  text-decoration: underline;
}
.form-container .input-container {
  margin: 0.8em 0;
}
.form-container .input-container__message {
  min-height: 1.5rem;
  margin: 0.5em;
}

.auth-form fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgb(20, 63, 63);
  outline: none;
  border: none;
  border-radius: 16px;
  line-height: 1.5rem;
}
.auth-form fieldset span {
  text-align: center;
  vertical-align: middle;
  margin-right: 0.5em;
}
.auth-form fieldset span svg {
  vertical-align: middle;
}
.auth-form fieldset input {
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: inherit;
  color: rgb(20, 63, 63);
  width: 100%;
  font-weight: 600;
  padding: 0.8em;
}
.auth-form fieldset input::-moz-placeholder {
  outline: none;
  border: none;
  background-color: inherit;
  color: grey;
  vertical-align: middle;
}
.auth-form fieldset input::placeholder {
  outline: none;
  border: none;
  background-color: inherit;
  color: grey;
  vertical-align: middle;
}
.auth-form fieldset input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}
.auth-form fieldset input:focus::placeholder {
  opacity: 0;
  transition: all 200ms linear;
}
.auth-form .valid {
  border: green;
  color: green;
}
.auth-form .invalid {
  border: red;
  color: red;
}

.products-wrapper {
  display: flex;
  flex-direction: column;
}

.products-container {
  flex: 4;
  padding: 1rem;
}

.card-list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(9rem, 100%), 1fr));
  margin: 0 auto;
}

.card img {
  width: 100%;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}

@media screen and (width > 1025px) {
  .products-wrapper {
    flex-direction: row;
  }
  .products-container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .card-list {
    grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), 1fr));
  }
}
.cart-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 900px;
}
.cart-wrapper .padding-helper {
  padding: 0.5rem;
}
.cart-wrapper .cart-order-wrapper {
  text-align: right;
}
@media screen and (min-width: 65rem) {
  .cart-wrapper {
    margin: 0 auto;
  }
}

header {
  background-color: white;
  color: black;
  height: 8vh;
}

.navshop {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.navshop a {
  text-decoration: none;
  color: black;
}
.navshop a:hover {
  text-decoration: underline;
}
.navshop .navshop__profile {
  display: inline-block;
}
.navshop .navshop__profile:hover .navshop__profile--hover {
  display: block;
}
.navshop .navshop__profile--hover {
  display: none;
  position: absolute;
  right: 0;
  overflow: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.navshop .navshop__profile--hover ul {
  padding-left: 0;
  padding: 0 1rem;
}
.navshop .navshop__profile--hover ul li {
  color: black;
  list-style-type: none;
}
.navshop .navshop__profile--hover ul li:hover {
  background-color: green;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.navshop .navshop__profile--hover ul li a {
  color: black;
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
.navshop .navshop__profile--hover ul li a:hover {
  background-color: green;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.aside-mobile-wrapper {
  height: 8vh;
  display: flex;
  flex-direction: column;
}
.aside-mobile-wrapper .aside-mobile-panel {
  display: flex;
  justify-content: flex-end;
}
.aside-mobile-wrapper .filter-button {
  background-color: transparent;
  border: none;
  margin-right: 1rem;
}
.aside-mobile-wrapper .aside-mobile-filter {
  z-index: 100;
  background-color: white;
  height: 100vh;
}

.aside {
  flex: 1;
  /* background-color: rgb(246, 209, 134); */
}

.aside__select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--clr-primary);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: white;
  /* background-image: linear-gradient(to top, #a88282, #fff 33%); */
}
.aside__select::after {
  grid-area: select;
  justify-self: end;
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--clr-primary);
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select {
  grid-area: select;
  justify-self: end;
}

.hidden {
  display: none;
}

.padding-helperr {
  padding-block: min(20vh, 10rem);
}/*# sourceMappingURL=main.css.map */