.profile-hover {
    display: none;
    position: absolute;
    right: 0;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.profile-hover-container {
    display: inline-block;
}

.profile-hover-container:hover .profile-hover {
    display: block;
}

.profile-hover ul {
    padding-left: 0;
    padding: 0 1rem;
}

.profile-hover ul li {
    color: black;
    list-style-type: none;   
}

.profile-hover ul li:hover, .profile-hover ul li a:hover {
    background-color: green;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.profile-hover ul li a {
    color: black;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}